/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
}

fieldset {
    border: none;
}


/* Header ----------- */

header {
    height: 7em;
    background-color:#2d3945;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5em;
    font-size: 25px;
    letter-spacing: 0.1em;
}

/* Form ---------- */

.banner {
    margin: 3em 0;
    background-color: rgb(226, 238, 245);
    padding: 30px;
}

.banner p {
    padding: 0 1.5em;
    color: #aaafb4;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.3em;
}

.signUpHeader {
    text-align: center;
    font-size: 1.5em;
}

.line1 {
    border: 3px solid #2d3945;
    margin-bottom: 5px;
  }
  
.line2,
.line3 {
    border: 1px solid #2d3945;
    margin-top: 0;
    margin-bottom: 3em;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

form {
    width: 90%;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

/* Form Fields -------------------- */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
#state {
    font-size: 1em;
    color: black;
    width: 100%;
    border: none;
    height: 60px;
    padding: 15px;
    outline: 0;
    margin-bottom: 1.2em;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
    background-color: rgb(241, 240, 240);
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    transition: background-color 2s;
}

.container_1 label {
    display: block;
    margin: .7em 0; 
    color: #9ea1a5;
    font-size: 1.3em;
}

#zipCode {
    width: 50%;
}

.container_2 label {
    display: inline-block;
    margin: .8em 0;
    color: #9ea1a5;
    font-size: 1.2em;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: .8em;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

.newsletterFormat label{
    margin-top: 1.5em;
    margin-bottom: 0;
}

.newsletterFormat{
    margin-bottom: 1.7em;
}

textarea {
    min-height: 10em;
}

::placeholder{
    text-align: right;
}

#zipCode::placeholder {
    text-align: left
}

::placeholder,
#state,
#topic {
    color: #b6bcc2;
    font-size: 1em;
    font-style: italic;
}

input:focus,
textarea:focus {
  border: 3px solid #2d3945;
  background-color: lightgrey;
}

/* Button--------------------------- */

button {
    background-color: #4ebbb5;
    height: 60px;
    width: 100%;
    font-size: 25px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    opacity: .7;
    transition: opacity .5s ease-out;
}

button:hover {
    opacity: 1;
}

/* Footer --------------------------- */
footer {
    background-color: #2d3945;
    height: 5em;
    margin-top: 3em;
  }

footer p {
    text-align: center;
    font-size: .8em;
    padding-top: 30px;
    font-weight: 300;
    font-style: italic;
    color: #bbbec2;
    font-size: 15px;
}
/* Media Queries -------------------- */

@media (min-width: 768px) {

	form{
	    width: 80%;
    }

    .container_1 input,
    #state {
        display: inline-block;
        width: 75%;
    }

    .container_1 label {
        display: inline-block;
        width: 20%;
        margin-right: 30px;
    }

    #zipCode {
        width: 30%;
    }
}